

          

          <div class="navbar-logo">
            <a href="#">
              FITINDIA
            </a>
          </div>
          

<nav class="navbar-inverse nav-upper">
  <div class="container-fluid">
    <ul class="nav navbar-upper">
      <li><a routerLink="/signin">SIGN IN / SIGN UP</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-static-top navbar-lower ">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li ><a class="active" routerLink="/home">HOME </a></li>
        <!-- <li><a routerLink="/nearby">NEARBY</a></li>
        <li><a routerLink="/basics">BASICS</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">NEARBY<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Gym</a></li>
            <li><a href="#">Yoga</a></li>
            <li><a href="#">Gymnastics</a></li>
            <li><a href="#">swimming pool</a></li>
            <li><a href="#">Boxing / MMA</a></li>
            <li><a href="#">Kung-Fu / Martial Art</a></li>
            <li><a href="#">Zumba / Dance-Based Class</a></li>
          </ul>
        </li>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">BASIC<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Importance</a></li>
                      
                      <li><a href="#">Your Trainer</a></li>
                      <li><a href="#">Diet & Nutrition</a></li>
                      <li><a href="#">Full Workout plan</a></li>
                     
                      
                    </ul>
                  </li>
        <li><a routerLink="/ask">FaQ</a></li>
        <li><a routerLink="/store">STORE</a></li>
        <li><a routerLink="/lectures">LECTURES</a></li> 
        <!-- <li><a routerLink="/onewaybinding">ONE</a></li> 
        <li><a routerLink="/form">FORM</a></li>  -->
        <li><a routerLink="/view">VIEW</a></li> 

      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Submit</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>







