
<head>
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="../../assets/js/popper.min.js"></script>
	<script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../../assets/js/jquery.easing.1.3.js"></script>
	<script src="../../assets/js/jquery.waypoints.min.js"></script>
	<script src="../../assets/js/jquery.stellar.min.js"></script>
	<script src="../../assets/js/owl.carousel.min.js"></script>
	<script src="../../assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../../assets/js/aos.js"></script>
	<script src="../../assets/js/jquery.animateNumber.min.js"></script>
	<script src="../../assets/js/bootstrap-datepicker.js"></script>
	<script src="../../assets/js/jquery.timepicker.min.js"></script>
	<script src="../../assets/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="../../assets/js/google-map.js"></script>
	<script src="../../assets/js/main.js"></script>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="../../assets/css/animate.css">
<link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="../../assets/css/magnific-popup.css">
<link rel="stylesheet" href="../../assets/css/aos.css">
<link rel="stylesheet" href="../../assets/css/ionicons.min.css">
<link rel="stylesheet" href="../../assets/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="../../assets/css/jquery.timepicker.css">
<link rel="stylesheet" href="../../assets/css/flaticon.css">
<link rel="stylesheet" href="../../assets/css/icomoon.css">
</head>



<!--==========================
Header
============================-->


<!--==========================
Hero Section
============================-->
<section id="hero">
<div class="hero-container">
  <h1>Importance of Fitness</h1>
  <h2>We are team of talanted Bodybuilders</h2>
  
</div>
</section><!-- #hero -->

<main id="main">

<!--==========================
  About Us Section
============================-->
<section id="about">
  <div class="container">
	<div class="row about-container">

	  <div class="col-lg-6 content order-lg-1 order-2">
		<h2 class="title">WHY TO DO WORKOUT/FOLLOW FITNESS</h2>
		<p> 
			<b>In fact, exercise can help keep your body at a healthy weight. Exercise helps people lose weight and 
			lower the risk of some diseases. Exercising regularly decreases a person's risk of developing certain diseases,
			including obesity, type 2 diabetes, and high blood pressure. Exercise can help a person age well.</b>
		</p>

		<div class="icon-box wow fadeInUp">
		  <div class="icon"><i class="fa fa-shopping-bag"></i></div>
		  <h4 class="title"><a href="">Exercise benefits every part of the body, including the mind</a></h4>
		  <p class="description"> Exercising causes the body to make chemicals that can help a person to feel good. Exercise can help people sleep better. It can also help some people who have mild depression and low self-esteem. Plus, exercise can give people a real sense 
			  of accomplishment and pride at having achieved a certain goal — like beating an old time in the 100-meter dash.</p>
		</div>

		<div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
		  <div class="icon"><i class="fa fa-shopping-bag"></i></div>
		  <h4 class="title"><a href="">Exercise helps people lose weight and lower the risk of some diseases</a></h4>
		  <p class="description">Exercising regularly decreases a person's risk of developing certain diseases, including obesity, type 2 diabetes, and high blood pressure. </p>
		</div>

		<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
		  <div class="icon"><i class="fa fa-shopping-bag"></i></div>
		  <h4 class="title"><a href="">Exercise can help a person age well.</a></h4>
		  <p class="description"> This may not seem important now, but your body will thank you later. For example, osteoporosis (a weakening of the bones) can be a problem as people get older.
			   Weight-bearing exercise — like jumping, running, or brisk walking — can help keep bones strong.</p>
		</div>

	  </div>

	  <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
		<img src="../../assets/imp.jpg" height="650px" width="500px">
	  </div>
	</div>

  </div>
</section><!-- #about -->




<!--==========================
Call To Action Section
============================-->
<section id="call-to-action">
  <div class="container wow fadeIn">
	<div class="row">
	  <div class="col-lg-9 text-center text-lg-left">
		<h3 class="cta-title">Call To Action</h3>
		<p class="cta-text">Get up and Workout</p>
	  </div>
	  <div class="col-lg-3 cta-btn-container text-center">
		<a class="cta-btn align-middle" href="#">Just do it</a>
	  </div>
	</div>

  </div>
</section><!-- #call-to-action -->


<br>
<br>

<br>
<br>

<div class="row">
  <div class="col-sm-4 col-md-4">
	<div class="thumbnail">
	  <img src="../../assets/3mondiet.jpg" alt="...">
	  <div class="caption">
		
	  
		<p><a href="#" class="btn btn-primary" role="button">Comming soon</a></p>
	  </div>
	</div>
	
  </div>
  <div class="row">
	<div class="col-sm-4 col-md-4">
	  <div class="thumbnail">
		<img src="../../assets/3-mndietplan.jpg"  alt="...">
		<div class="caption">
		  
		  
		  <p><a href="#" class="btn btn-primary" role="button">Comming soon</a></p>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-4 col-md-4">
		<div class="thumbnail">
		  <img src="../../assets/12-month-diet-plan-1-360x480.jpg"  alt="...">
		  <div class="caption">
			
			
			<p><a href="#" class="btn btn-primary" role="button">Comming soon</a> </p>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>





  




<!--==========================
  Contact Section
============================-->







