
<div class="row" >
    <div class="container">
    <div class="card" *ngFor="let obj of arr">
        <!-- <div class="card"> -->
                <img class="card-img-top" src="../../assets/Logo-livehealthyindia.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name: {{obj.name}}</h5>
                    <p class="card-text">Email: {{obj.email}}</p>
                    <p class="card-text">Experience: {{obj.exp}}</p>
                    <p class="card-text">Category: {{obj.cat}}</p>
                    <!-- <a href="#" class="btn btn-primary"> {{obj.address}}</a> -->
         <button type="submit" [routerLink]="['/update',obj._id]">Update</button>
                <!-- </div> -->
            </div>
        </div>
    </div> 
  </div>
   
 <!-- <div class="row">
    <div class="container">
    <div class="card col-lg-3" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/3mondiet.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card col-lg-3 offset-1" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/3mondiet.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card col-lg-3 offset-1" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/3mondiet.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>  -->