 /* body{
	margin:0;
    color:#6a6f8c;
	font:600 16px/18px 'Open Sans',sans-serif;
}
.logink
{

background-image: url("../../assets/gym1.jpg");
background-size: cover;
    background-position: center;
    height: 100vh;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background: #0007;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
	z-index:0;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:black;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:black;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:black;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}
.close-button{
	position: absolute;
	top:5px;
	right: 5px;
	z-index: 100;
	opacity: 0.5;
}
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
} 


 */



 /* Start Base Style */
div > p {
    margin-top:12px;
    font-size:50px;
  }
  #btn-signup{
    cursor:pointer;
    color:#e74c3c;
  }
  #btn-signup:hover,#btn-signup:focus{
    color:#c0392b;
  }
  #btn-login{
    cursor:pointer;
    color:#3498db;
  }
  #btn-login:hover,#btn-login:focus{
    color:#2980b9;
  }
  /* End Base Style */
  
  /* Start Login Form */
  #login{
    display:none;
    margin-top:50px;
    border:2px solid #2473a6;
    width:300px;
  }
  #login h1{
    font-weight:bold;
    color:#2473a6;
  }
  #login input{
    padding-left:2px;
    border-left:3px solid #2980b9;
    border-radius:0px;
  }
  #login input:focus{
    padding-left:3px;
    border-left:6px solid #2980b9;
    border-radius:0px;
  }
  #login button{
    border-radius:0px;
  }
  /* End Login Form */
  
  /* Start SignUp Form */
  #signup{
    display:none;
    margin-top:50px;
    border:2px solid #c0392b;
    width:400px;
  }
  #signup h1{
    font-weight:bold;
    color:#c0392b;
  }
  #signup input{
    padding-left:2px;
    border-left:3px solid #c0392b;
    border-radius:0px;
  }
  #signup input:focus{
    padding-left:3px;
    border-left:6px solid #c0392b;
    border-radius:0px;
  }
  #signup button{
    border-radius:0px;
  }
  /* End SignUp Form */