

    
    <body>
        <!-- <div class="top-nav-bar">
            <div class="search-box" >
                    <i class="fa fa-bars" id="menu-btn" onclick="openmenu()"></i>
                    <i class="fa fa-times" id="close-btn" onclick="closemenu()"></i>
                <a href="http://127.0.0.1:4200/store"><img src="../../assets/Screenshot 2019-07-20 at 14.32.34.png" class="logo"></a>
                <input type="text" class="form-control">
                <span class="input-group-text"><i class="fa fa-search" ></i></span>
            </div>
            <div class="menu-bar">
                <ul>
                    <li><a href="#"><i class="fa fa-shopping-cart" ></i>Cart</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Log In</a></li>
                </ul>

            </div>
        </div> -->

        <section id="hero">
            <div class="hero-container">
              <h1>Online Supplement Store</h1>
              <h2>We are team of talanted Bodybuilders</h2>
              
            </div>
          </section>
       
        <!-- <div class="hardy">
            <img src="../../assets/1079596-most-popular-bodybuilding-wallpaper-hd-2018-1920x1080.jpg">
        </div> -->
       
    <br>
    <br>

    <section class="on-sale">
        <div class="container">
            <div class="title-box">
                <h2>ON SALE </h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                       <a href="https://nutrabay.com/product/optimum-nutrition-on-100-whey-gold-standard-2/" target="_blank" ><img src="../../assets/Screenshot 2019-07-24 at 07.51.19.png"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                 <i class="fa fa-eye" ></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                 <i class="fa fa-heart-o" ></i> 
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add To Cart">
                                 <i class="fa fa-shopping-cart" ></i> 
                            </button>
                        </div>
                    </div>
                   

                </div>
                <div class="col-md-3">
                     <div class="product-top">
                         <a href="https://nutrabay.com/product/ultimate-nutrition-prostar-100-whey-protein/" target="_blank"><img src="../../assets/Screenshot 2019-07-24 at 07.51.43.png"></a>
                         <div class="overlay-right">
                             <button type="button" class="btn btn-secondary" title="Quick Shop">
                                  <i class="fa fa-eye" ></i>
                             </button>
                             <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                  <i class="fa fa-heart-o" ></i> 
                             </button>
                             <button type="button" class="btn btn-secondary" title="Add To Cart">
                                  <i class="fa fa-shopping-cart" ></i> 
                             </button>
                         </div>
                     </div>
                    

                 </div>
                 <div class="col-md-3">
                    <div class="product-top">
                        <a href="https://nutrabay.com/product/ultimate-nutrition-iso-sensation-93/" target="_blank"><img src="../../assets/Screenshot 2019-07-24 at 07.52.15.png"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                 <i class="fa fa-eye" ></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                 <i class="fa fa-heart-o" ></i> 
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add To Cart">
                                 <i class="fa fa-shopping-cart" ></i> 
                            </button>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                           <a href="https://nutrabay.com/product/muscletech-nitrotech-performance-series/" target="_blank"> <img src="../../assets/Screenshot 2019-07-24 at 07.52.24.png"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick Shop">
                                     <i class="fa fa-eye" ></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                     <i class="fa fa-heart-o" ></i> 
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add To Cart">
                                     <i class="fa fa-shopping-cart" ></i> 
                                </button>
                            </div>
                        </div>
                        </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <!-- *********************** next ****************** -->
    <section class="on-sale">
            <div class="container">
                <div class="title-box">
                    <h2>Pre Workout</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-top">
                           <a href="https://nutrabay.com/product/optimum-nutrition-on-amino-energy-2/" target="_blank"><img src="../../assets/Screenshot 2019-07-24 at 07.58.33.png"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick Shop">
                                     <i class="fa fa-eye" ></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                     <i class="fa fa-heart-o" ></i> 
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add To Cart">
                                     <i class="fa fa-shopping-cart" ></i> 
                                </button>
                            </div>
                        </div>
                       
    
                    </div>
                    <div class="col-md-3">
                         <div class="product-top">
                            <a href="https://nutrabay.com/product/cellucor-c4-original-pre-workout/" target="_blank"> <img src="../../assets/Screenshot 2019-07-24 at 07.58.47.png"></a>
                             <div class="overlay-right">
                                 <button type="button" class="btn btn-secondary" title="Quick Shop">
                                      <i class="fa fa-eye" ></i>
                                 </button>
                                 <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                      <i class="fa fa-heart-o" ></i> 
                                 </button>
                                 <button type="button" class="btn btn-secondary" title="Add To Cart">
                                      <i class="fa fa-shopping-cart" ></i> 
                                 </button>
                             </div>
                         </div>
                        
    
                     </div>
                     <div class="col-md-3">
                        <div class="product-top">
                          <a href="https://nutrabay.com/product/muscleblaze-pre-workout-ripped/" target="_blank">  <img src="../../assets/Screenshot 2019-07-24 at 07.58.56.png"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick Shop">
                                     <i class="fa fa-eye" ></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                     <i class="fa fa-heart-o" ></i> 
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add To Cart">
                                     <i class="fa fa-shopping-cart" ></i> 
                                </button>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3">
                            <div class="product-top">
                              <a href="https://nutrabay.com/product/musclepharm-assault/" target="_blank">  <img src="../../assets/Screenshot 2019-07-24 at 07.59.08.png"></a>
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                         <i class="fa fa-eye" ></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                         <i class="fa fa-heart-o" ></i> 
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add To Cart">
                                         <i class="fa fa-shopping-cart" ></i> 
                                    </button>
                                </div>
                            </div>
                            </div>
                </div>
            </div>
    </section>
                            <br>
                            <br>
                            <br>
                            <!-- *********************** next2 ************* -->
                            <section class="on-sale">
                                    <div class="container">
                                        <div class="title-box">
                                            <h2> BCAA </h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="product-top">
                                                   <a href="https://nutrabay.com/product/scivation-xtend-bcaa-intra-workout-catalyst/" target="_blank"><img src="../../assets/Screenshot 2019-07-24 at 08.07.36.png"></a>
                                                    <div class="overlay-right">
                                                        <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                             <i class="fa fa-eye" ></i>
                                                        </button>
                                                        <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                                             <i class="fa fa-heart-o" ></i> 
                                                        </button>
                                                        <button type="button" class="btn btn-secondary" title="Add To Cart">
                                                             <i class="fa fa-shopping-cart" ></i> 
                                                        </button>
                                                    </div>
                                                </div>
                                               
                            
                                            </div>
                                            <div class="col-md-3">
                                                 <div class="product-top">
                                                    <a href="https://nutrabay.com/product/muscleblaze-bcaa-pro-450g/" target="_blank"> <img src="../../assets/Screenshot 2019-07-24 at 08.07.47.png"></a>
                                                     <div class="overlay-right">
                                                         <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                              <i class="fa fa-eye" ></i>
                                                         </button>
                                                         <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                                              <i class="fa fa-heart-o" ></i> 
                                                         </button>
                                                         <button type="button" class="btn btn-secondary" title="Add To Cart">
                                                              <i class="fa fa-shopping-cart" ></i> 
                                                         </button>
                                                     </div>
                                                 </div>
                                                
                            
                                             </div>
                                             <div class="col-md-3">
                                                <div class="product-top">
                                                    <a href="https://nutrabay.com/product/musclepharm-bcaa-312/" target="_blank"> <img src="../../assets/Screenshot 2019-07-24 at 08.08.11.png"></a>
                                                    <div class="overlay-right">
                                                        <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                             <i class="fa fa-eye" ></i>
                                                        </button>
                                                        <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                                             <i class="fa fa-heart-o" ></i> 
                                                        </button>
                                                        <button type="button" class="btn btn-secondary" title="Add To Cart">
                                                             <i class="fa fa-shopping-cart" ></i> 
                                                        </button>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="product-top">
                                                       <a href="https://nutrabay.com/product/optimum-nutrition-on-glutamine-powder-2/" target="_blank"> <img src="../../assets/Screenshot 2019-07-24 at 08.08.20.png"></a>
                                                        <div class="overlay-right">
                                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                                 <i class="fa fa-eye" ></i>
                                                            </button>
                                                            <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                                                 <i class="fa fa-heart-o" ></i> 
                                                            </button>
                                                            <button type="button" class="btn btn-secondary" title="Add To Cart">
                                                                 <i class="fa fa-shopping-cart" ></i> 
                                                            </button>
                                                        </div>
                                                    </div>
                                                    </div>
                                        </div>
                                    </div>
                                </section>
                                <br>
                                <br>
                                <br>
                                <br>
                                <!-- ************************** NEXT3 *********** -->
                                <section class="on-sale">
                                        <div class="container">
                                            <div class="title-box">
                                                <h2> Fat Burner</h2>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="product-top">
                                                       <a href="https://nutrabay.com/product/musclepharm-cla-core/" target="_blank"><img src="../../assets/Screenshot 2019-07-24 at 08.14.27.png"></a>
                                                        <div class="overlay-right">
                                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                                 <i class="fa fa-eye" ></i>
                                                            </button>
                                                            <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                                                 <i class="fa fa-heart-o" ></i> 
                                                            </button>
                                                            <button type="button" class="btn btn-secondary" title="Add To Cart">
                                                                 <i class="fa fa-shopping-cart" ></i> 
                                                            </button>
                                                        </div>
                                                    </div>
                                                   
                                
                                                </div>
                                                <div class="col-md-3">
                                                     <div class="product-top">
                                                        <a href="https://nutrabay.com/product/nutrex-lipo-6-black-ultra-concentrate/"target="_blank"><img src="../../assets/Screenshot 2019-07-24 at 08.14.35.png"></a>
                                                         <div class="overlay-right">
                                                             <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                                  <i class="fa fa-eye" ></i>
                                                             </button>
                                                             <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                                                  <i class="fa fa-heart-o" ></i> 
                                                             </button>
                                                             <button type="button" class="btn btn-secondary" title="Add To Cart">
                                                                  <i class="fa fa-shopping-cart" ></i> 
                                                             </button>
                                                         </div>
                                                     </div>
                                                    
                                
                                                 </div>
                                                 <div class="col-md-3">
                                                    <div class="product-top">
                                                       <a href="https://nutrabay.com/product/muscletech-hydroxycut-hardcore-elite-100-capsules/"target="_blank"> <img src="../../assets/Screenshot 2019-07-24 at 08.14.44.png"></a>
                                                        <div class="overlay-right">
                                                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                                 <i class="fa fa-eye" ></i>
                                                            </button>
                                                            <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                                                 <i class="fa fa-heart-o" ></i> 
                                                            </button>
                                                            <button type="button" class="btn btn-secondary" title="Add To Cart">
                                                                 <i class="fa fa-shopping-cart" ></i> 
                                                            </button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="product-top">
                                                         <a href="https://nutrabay.com/product/dymatize-cla-sofgels/" target="_blank">  <img src="../../assets/Screenshot 2019-07-24 at 08.14.58.png"> </a>
                                                            <div class="overlay-right">
                                                                <button type="button" class="btn btn-secondary" title="Quick Shop">
                                                                     <i class="fa fa-eye" ></i>
                                                                </button>
                                                                <button type="button" class="btn btn-secondary" title=" Add To Wishlist">
                                                                     <i class="fa fa-heart-o" ></i> 
                                                                </button>
                                                                <button type="button" class="btn btn-secondary" title="Add To Cart">
                                                                     <i class="fa fa-shopping-cart" ></i> 
                                                                </button>
                                                            </div>
                                                        </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </section>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                
    <!-- ****************** website features *************** -->
    <section class="website-features">
        <div class="container">
            <div class="row">
              <div class="col-md-3 fetaure-box">
                  <img src="../../assets/r4y5r.png">
                  <div class="feature-text">
                   <p><b>100% Original items</b> &nbsp;are avilalble at company.</p>
                  </div>
              </div>

              <div class="col-md-3 fetaure-box">
                    <img src="../../assets/return-essential-interface-128.png">
                    <div class="feature-text">
                     <p><b>Return within 30 days</b>&nbsp; of receiving your order./p>
                    </div>
                </div>
                <div class="col-md-3 fetaure-box">
                        <img src="../../assets/45904.png">
                        <div class="feature-text">
                         <p><b>Get free delivery for every</b>&nbsp;order on more than price </p>
                        </div>
                    </div>
                    <div class="col-md-3 fetaure-box">
                            <img src="../../assets/download.jpeg">
                            <div class="feature-text">
                             <p><b>Pay online through multiple option</b>(Debit/Credit/Net Banking/Wallet)</p>
                            </div>
                        </div>
            </div>
        </div>

    </section>

        <script>
        function openmenu()
        {
            document.getElementById("side-menu").style.display="block";
            document.getElementById("menu-btn").style.display="none";
            document.getElementById("close-btn").style.display="block";


        }

        function closemenu()
        {
            document.getElementById("side-menu").style.display="none";
            document.getElementById("menu-btn").style.display="block";
            document.getElementById("close-btn").style.display="none";


        }
        </script>


