
<section id="hero">
  <div class="hero-container">
    <h1>All Free Online Fitness Lectures</h1>
    <h2>We are team of talanted Bodybuilders</h2>
    
  </div>
</section>

<div id="services" class="about">
  <div class="container wow fadeIn">
    <div class="section-header">
      <h1 class="section-title">Full workout lectures with diet</h1>
    </div>
    </div>
</div>



<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/lags.jpg" alt="...">
      <div class="caption">
        <p><a href="https://www.youtube.com/watch?v=fn2Oodh_5Lg&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=4&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../../assets/oatmeal.jpg" alt="...">
        <div class="caption">
          <p><a href="https://www.youtube.com/watch?v=bHvHv7Vbd1g&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=5&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="../../assets/chest.jpg" alt="...">
          <div class="caption">
        <p><a href="https://www.youtube.com/watch?v=R9zQr8C7wl8&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=11&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../../assets/egg.jpg" alt="...">
            <div class="caption">
              <p><a href="https://www.youtube.com/watch?v=OMLAD7VUrmE&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=6&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/shoulders.jpg" alt="...">
      <div class="caption">
        <p><a href="https://www.youtube.com/watch?v=7Mjkf5AgxKA&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=8&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../../assets/rise.jpg" alt="...">
        <div class="caption">
          <p><a href="https://www.youtube.com/watch?v=W9QaK8xdCz4&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=8" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="../../assets/core.jpg" alt="...">
          <div class="caption">
        <p><a href="https://www.youtube.com/watch?v=R9zQr8C7wl8&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=10" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../../assets/snack.jpg" alt="...">
            <div class="caption">
              <p><a href="https://www.youtube.com/watch?v=i9fvLx4q2Vo&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=9" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/back.jpg" alt="...">
      <div class="caption">
        <p><a href="https://www.youtube.com/watch?v=q2ZLEhOi9WM&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=12&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../../assets/paneer.jpg" alt="...">
        <div class="caption">
          <p><a href="https://www.youtube.com/watch?v=x0FyJLHS5j0&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=15&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="../../assets/arms.jpg" alt="...">
          <div class="caption">
        <p><a href="https://www.youtube.com/watch?v=MAuJn-dvW5w&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=14&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../../assets/pre.jpg" alt="...">
            <div class="caption">
              <p><a href="https://www.youtube.com/watch?v=C7TPf8oGYJc&list=PLqVogDpd6RSVPk3jykRd0B4FvzkoHUjif&index=13&t=0s" target="_blank" class="btn btn-primary" role="button">Watch</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>