/* Start Base Style */
div > p {
    margin-top:12px;
    font-size:50px;
  }
  #btn-signup{
    cursor:pointer;
    color:#e74c3c;
  }
  #btn-signup:hover,#btn-signup:focus{
    color:#c0392b;
  }
  #btn-login{
    cursor:pointer;
    color:#3498db;
  }
  #btn-login:hover,#btn-login:focus{
    color:#2980b9;
  }
  /* End Base Style */
  
  /* Start Login Form */
  #login{
    display:none;
    margin-top:50px;
    border:2px solid #2473a6;
    width:300px;
  }
  #login h1{
    font-weight:bold;
    color:#2473a6;
  }
  #login input{
    padding-left:2px;
    border-left:3px solid #2980b9;
    border-radius:0px;
  }
  #login input:focus{
    padding-left:3px;
    border-left:6px solid #2980b9;
    border-radius:0px;
  }
  #login button{
    border-radius:0px;
  }
  /* End Login Form */
  
  /* Start SignUp Form */
  #signup{
    display:none;
    margin-top:50px;
    border:2px solid #c0392b;
    width:400px;
  }
  #signup h1{
    font-weight:bold;
    color:#c0392b;
  }
  #signup input{
    padding-left:2px;
    border-left:3px solid #c0392b;
    border-radius:0px;
  }
  #signup input:focus{
    padding-left:3px;
    border-left:6px solid #c0392b;
    border-radius:0px;
  }
  #signup button{
    border-radius:0px;
  }
  /* End SignUp Form */