

<!DOCTYPE html>
<html>
    <head>
        <title>FAQ</title>
        <!-- <link rel="stylesheet" type="text/css" href="find.component.css"> -->
    </head>
    <body>
        <h1 style="text-align: center; color: aliceblue;font-family:'osweld';font-size: 70px">Frequently Asked Questions</h1>
        <h2 style="text-align:center;color: aquamarine;font-family: 'osweld';">SEARCH IT</h2>
        <div class="search-box">
           
            <input class="search-txt"  type="text" name="" placeholder="Type To Search">
            <a class="search-btn" href="#"></a>
            <i class="fa fa-search"></i>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="acc">
                <h3 style="color: aliceblue">QUESTION 1: What Is Fitness? <button class="revealContent" (click)="toggleContent1()">Toggle</button></h3>
                <div class="content" *ngIf="content1">
                    <div class="content-inner">
                        <p style="color: orange">fitness is defined as the state of being physically fit and healthy. ... 
                            "Fitness" is a broad term that means something different to each person,
                             but it refers to your own optimal health and overall well-being. Being fit not only means physical health,
                              but emotional and mental health, too.</p>
                    </div>
                </div>
            </div>

            <div class="acc">
                    <h3 style="color: aliceblue"> QUESTION 2: What Do You Mean By BodyBuilding ?<button class="revealContent" (click)="toggleContent2()">Toggle</button></h3>
                    <div class="content" *ngIf="content2">
                        <div class="content-inner">
                            <p style="color: orange;">Bodybuilding is the use of progressive resistance exercise to control and develop one's musculature for aesthetic purposes.
                                 An individual who engages in this activity is referred to as a bodybuilder.
                                  In competitive bodybuilding, bodybuilders appear in lineups and perform specified poses (and later individual posing routines) 
                                  for a panel of judges who rank the competitors based on criteria such as symmetry, muscularity, and conditioning. </p>
                        </div>
                    </div>
                </div>
                <div class="acc">
                        <h3 style="color: aliceblue"> QUESTION 3: What Is the Best Way to Lose Fat??</h3>
                        <div class="content">
                            <div class="content-inner">
                                <p style="color: orange;">The simple (and complex) answer is that there is no “best way” to lose fat. Each client will respond differently to a training program. However, there are some principles fitness professionals 
                                    can apply when designing their clients’ programs.Activities that incorporate many muscle groups and are weight bearing use more calories per minute and are therefore better suited for fat loss than non-weight-bearing 
                                    activities that do not use many muscles.
                                    It is often assumed that low-intensity exercise is best for burning fat. During exercise at a very low intensity, fat does account for most of the energy expenditure, while at a moderate intensity, fat accounts for
                                     only about 50 percent of the energy used. However, since the number of calories used per minute is much greater at a moderate to high intensity than at a low intensity, the total number of calories expended during 
                                     a moderate- to high-intensity workout is greater than it is during a low- intensity workout of the same duration; consequently, the total number of fat calories expended is also greater during the higher-intensity workout.
                                      The rate of energy expenditure, rather than simply the percentage of energy expenditure derived from fat, is important in determining the exercise intensity that will use the most fat. Furthermore, endurance-trained individuals 
                                      rely less on carbohydrates and more on fat as a fuel source during submaximal exercise (Kiens 1997). Thus, the more aerobically trained your clients become, the more fat they will use during subsequent exercise sessions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="acc">
                            <h3 style="color: aliceblue"> QUESTION 4:If I Lift Weights, Will I Get Bigger Muscles ?</h3>
                            <div class="content">
                                <div class="content-inner">
                                    <p style="color: orange;">Whether or not your clients will get bigger muscles (hypertrophy) depends on three basic factors: genetics, gender and training intensity. Genetics is mostly manifested as muscle fiber type
                                         people with predominantly fast-twitch fibers acquire larger muscles more easily than people with predominantly slow-twitch fibers. In relation to gender, males acquire larger muscles than females do, because males 
                                         have greater amounts of testosterone and other sex hormones that influence protein metabolism (Tipton 2001). Thus, females experience less muscle hypertrophy with strength improvement than males do (Lewis et al. 1986).
                                          Training intensity is the only factor you can control.</p>
                                </div>
                            </div>
                        </div>
                        <div class="acc">
                                <h3 style="color: aliceblue">QUESTION 5: What Do You Mean By BodyBuilding ?</h3>
                                <div class="content">
                                    <div class="content-inner">
                                        <p style="color: orange;">Bodybuilding is the use of progressive resistance exercise to control and develop one's musculature for aesthetic purposes.
                                             An individual who engages in this activity is referred to as a bodybuilder.
                                              In competitive bodybuilding, bodybuilders appear in lineups and perform specified poses (and later individual posing routines) 
                                              for a panel of judges who rank the competitors based on criteria such as symmetry, muscularity, and conditioning. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="acc">
                                    <h3 style="color: aliceblue"> QUESTION 6:Should I Do Cardio First or Weight Training First?</h3>
                                    <div class="content">
                                        <div class="content-inner">
                                            <p style="color: orange;">If the primary goal is to increase aerobic endurance or lose weight, then the client should perform cardiovascular exercise 
                                                first. If the primary goal is to increase muscular strength, then the client should perform strength training first. Basically, in order to get the 
                                                most out of the workout, the client should perform the most important type of exercise when he or she is not fatigued. Because many clients want to 
                                                lose weight and increase muscular strength, alternating the order of the workout during different cycles of training is one way to satisfy both goals.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="acc">
                                    <h3 style="color: aliceblue"> QUESTION 7:Do I Need to Take Dietary Supplements?</h3>
                                    <div class="content">
                                        <div class="content-inner">
                                            <p style="color: orange;">Your clients do not need dietary supplements unless they have a documented vitamin deficiency or they do not eat a balanced diet.
                                                 Using supplements as an alternative to a sound diet can lead to serious deficits in the consumption of other nutrients (Benardot et al. 2001). It is always 
                                                 healthier to acquire vitamins and minerals from food than to obtain them from a pill. However, serious vitamin deficiencies do occur in a small proportion of 
                                                 the population (Benardot et al. 2001), and supplements are useful for making sudden improvements in vitamin status.

                                                Supplements for losing fat or building muscle are rapidly becoming popular. Claims that “fat-burning” supplements will decrease body fat by increasing either 
                                                mobilization or oxidation of free fatty acids (FFAs) are faulty at best. Untrained individuals have a greater ability to mobilize FFAs than they do to oxidize them.
                                                 Therefore, supplements that increase FFA mobilization are not of any value for untrained people. For supplements to directly enhance FFA oxidation, the insulin response 
                                                 to the carbohydrates in those supplements would need to be eliminated (since insulin inhibits fat oxidation), and this is unlikely to happen (Coyle 1995). Exercise alone increases the muscles’ capacity to oxidize FFAs.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="acc">
                                    <h3 style="color: aliceblue"> QUESTION 8:What Is My Target Heart Rate?</h3>
                                    <div class="content">
                                        <div class="content-inner">
                                            <p style="color: orange;">Target heart rate—the heart rate range used to determine the desired intensity of an activity—will differ depending on the goal of the workout. 
                                                You can calculate target heart rate using a percentage of your client’s heart rate maximum (HRmax), which can be predicted by subtracting your client’s age from 220, 
                                                or by measuring your client’s heart rate while he or she performs a maximum exercise test. You can also calculate target heart rate using the Karvonen method, which 
                                                takes into account your client’s resting heart rate (RHR). Subtract your client’s RHR from his or her age-predicted HRmax before multiplying the outcome by the desired 
                                                percentage. Then add the RHR back onto that value. The difference between HRmax and RHR is called heart rate reserve (HRR).</p>
                                        </div>
                                    </div>
                                </div>
                                   
                                <div class="acc">
                                    <h3 style="color: aliceblue"> QUESTION 9:What Is the Difference Between Weight Machines<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and Free Weights?</h3>
                                    <div class="content">
                                        <div class="content-inner">
                                            <p style="color: orange;">Ignoring the effect of gravity in creating resistance during all movements, free weights (dumbbells) keep the resistance on the muscle constant
                                                 throughout the joint’s range of motion (ROM), while weight machines use variable resistance, with the resistance changing throughout the ROM. Machines have geometrically 
                                                 shaped cams that change the torque required of the muscles by changing the lever arm of the resistance force (external weight) or the applied muscular force. Thus, machines
                                                  place more stress on the muscles at the angles at which muscles can produce greater force. Since there are points in a joint’s ROM where the muscle is stronger and points
                                                   where it is weaker, and the amount of weight your clients can lift is limited by their weakest point, free weights serve only as a strong enough training stimulus for the 
                                                   weak joint positions. With machines, the load changes to provide optimal resistance throughout the entire ROM.</p>
                                        </div>
                                    </div>
                                </div>
                                                    
                                <div class="acc">
                                    <h3 style="color: aliceblue"> QUESTION 10:Why Are My Muscles Sore After a Workout?</h3>
                                    <div class="content">
                                        <div class="content-inner">
                                            <p style="color: orange;">oreness results from high force production when an exercise is new or a load is greater than normal. Furthermore, eccentric muscle contractions 
                                                (in which the muscle lengthens, as when lowering a weight) cause more soreness in the days following the workout than either isometric contractions (in which the muscle does not change 
                                                length, as when holding a weight) or concentric contractions (in which the muscle shortens, as when lifting a weight). This soreness in the days after exertion is called delayed onset 
                                                muscle soreness (DOMS) </p>
                                        </div>
                                    </div>
                                </div>
                                                    
                                <div class="acc">
                                    <h3 style="color: aliceblue"> QUESTION 11:How Do I Get Rid of These Flabby Arms?</h3>
                                    <div class="content">
                                        <div class="content-inner">
                                            <p style="color: orange;">One of the biggest exercise myths is that you can lose fat in an area of the body by strength training or exercising that specific body part. The truth is that “spot reducing” 
                                                and “spot toning” do not work, because we cannot dictate from where our bodies will decide to oxidize fat, nor can we change fat into muscle. Doing triceps press-downs will not decrease the amount of 
                                                fat clients have on the backs of their arms any more than doing crunches will decrease the amount of fat clients have on their stomachs.</p>
                                        </div>
                                    </div>
                                </div>
                                                    
            
        </div>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
     $(document).ready(function(){
      $('.acc h3').click(function(){
        $(this).next('.content').slideToggle();
        $(this).parent().addClass('active');
        $(this).parent().siblings().children('.content').slideUp();
        $(this).parent().siblings().removeClass('active');

    });
});
    </script>
</html>
