<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/traning.jpg" alt="...">
      <div class="caption">
        
      
        <p><a href="#" class="btn btn-primary" role="button">Comming soon</a></p>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/traning1.jpg"  alt="...">
        <div class="caption">
          
          
          <p><a href="#" class="btn btn-primary" role="button">Comming soon</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="../../assets/traning2.jpg"  alt="...">
          <div class="caption">
            
            
            <p><a href="#" class="btn btn-primary" role="button">Comming soon</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/traning3.png" alt="...">
      <div class="caption">
        
      
        <p><a href="#" class="btn btn-primary" role="button">Comming soon</a></p>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/traning4.png"  alt="...">
        <div class="caption">
          
          
          <p><a href="#" class="btn btn-primary" role="button">Comming soon</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="../../assets/traning5.jpg"  alt="...">
          <div class="caption">
            
            
            <p><a href="#" class="btn btn-primary" role="button">Comming soon</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/traning6.jpg" alt="...">
      <div class="caption">
        
      
        <p><a href="#" class="btn btn-primary" role="button">Comming soon</a></p>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/traning7.jpg"  alt="...">
        <div class="caption">
          
          
          <p><a href="#" class="btn btn-primary" role="button">Comming soon</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="../../assets/traning8.jpg"  alt="...">
          <div class="caption">
            
            
            <p><a href="#" class="btn btn-primary" role="button">Comming soon</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>