/* #image{
    background-image: url("../../assets/fit4.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
} */




/* ===================--------------------------==================================------------------------====================------------------ */

/* 
    #header{
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    
    }
    #header h1{
        font-size: 54px; 
        line-height: 0.7;
        font-family: 'Times New Roman', Times, serif;
    }
    #header p{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    } */


    #hero {
    
      height: 100vh;
      background: url(../../assets/fit4.jpg) top center;
      background-size: cover;
      position: relative;
      background-position: center;
    }
    
    @media (min-width: 1024px) {
      #hero {
        background-attachment: fixed;
      }
    }
    
    #hero:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    
    #hero .hero-container {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    
    #hero h1 {
      margin: 30px 0 10px 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 0.1;
      text-transform: uppercase;
      color: #fff;
    }
    
    @media (max-width: 768px) {
      #hero h1 {
        font-size: 28px;
        line-height: 1;
      }
    }
    
    #hero h2 {
      color: #eee;
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 0.4;
    }
    
    @media (max-width: 768px) {
      #hero h2 {
        font-size: 18px;
        line-height: 1;
        margin-bottom: 30px;
      }
    }

    #hero .button{
        font-size: 17px;
        color:whitesmoke;
        border: whitesmoke 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 4px;
        line-height: 1;
    }
    #hero .button:hover{
        background: whitesmoke;
        color: black;
    }
     #hero .button a{
        text-decoration: none;
    }


/* ==================---------------------------=============================--------------------====================----------------------- */



    .jumbotron {
      font-family: 'Times New Roman', Times, serif;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 3px;
        color: inherit;
        line-height: 0.4;
        background-color: whitesmoke;
        }

        .container #second{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: black;
        
        }
        .btn-primary {
          font-family: 'Times New Roman', Times, serif;
          color: #fff;
          background-color:black !important;
          border-color: black;
      }
      .btn-primary {
        background-image: linear-gradient(to bottom, 0%, 100%);
      }
      .btn-primary:hover {
        color: #fff;
        /* background-color:black; */
        border-color: black;
      
    }
    a {
      /* color: black; */
      text-decoration: none;
  }


/* -------------------------=============================----------------------------============================---------------- */

#services {
  background: #fff;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 200px;
  position: relative;
  background: #fafafa;
}

#services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background:black;
}

#services .icon a {
  display: inline-block;
}

#services .icon i {
  color: #fff;
  font-size: 24px;
}

#services .box:hover .icon {
  background: #fff;
  border: 2px solid black;
}

#services .box:hover .icon i {
  color:black;
}

#services .box:hover .icon a {
  color:black;
}

#services .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .title a {
  color: #111;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
}


/* --------------------------------------------------------------------------------------------------------- */


  .services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  
  .services .title a {
    color: #111;
  }
  
  .services .description {
    font-size: 14px;
    line-height: 17px;
  }
  
  /* ------------------------------------------------------------------------------------------------------------ */

  .about {
    font-family: 'Times New Roman', Times, serif;
      background: #fff;
      background-size: cover;
      padding: 80px 0 60px 0;
      text-align: center;
      color: #111;
    }
    
    .about .box {
      padding: 50px 20px;
      margin-bottom: 50px;
      text-align: center;
      border: 1px solid #e6e6e6;
      height: 200px;
      position: relative;
      background: #fafafa;
      text-align: center;
      color: #111;
    }
  .about .title {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 4;
    text-transform: uppercase;
    text-align: center;
    color: #111;
  }
  
  .about .title a {
    color: #111;
    text-align: center;
    color: #111;
  }
  
  .about .description {
    font-size: 20px;
    line-height: 4;
    text-align: center;
    color: #111;
  }


  /* ------------------------------------------------------------------------------------------------------------------ */
   
  .team{
    padding:50px 0 80px;
    text-align: center;
  }
  .team p,
  .team h2,
  .team h4{
    margin: 20px 0 20px;
    color: black;
    line-height: 0.4;
    font-family: 'Times New Roman', Times, serif;

 
  }
  .team img{
    height: 250px;
    width: 250px;
    margin-top: 80px;
  }

  .team i{
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color:gainsboro;
    color:#fff;
  }
  .team a:hover i{
    background-color: black;
  }


/* -------------------------------------------------------------------------------------------------------------------------- */

  .clients{
    padding: 50px 0 80px;
    background-color:whitesmoke;
    text-align:center;
    
  }
  .clients h2,
  .clients p{
    color:black;
    font-family: 'Times New Roman', Times, serif;
  }
  .clients img{
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
  
  }
  .clients:hover img{
    opacity: 1;
  }

  /* ---------------------------------------------------------------------------------------------------------------------------------- */



  