<!-- <div id="image">
<div id="header">
    <h1>Live Healthy</h1>
    <p>Here you can find all the information about how to be fit and live a healthy lifestyle</p>
    <a routerLink="/importance" class="button">Read more</a>
</div>
</div> -->

<section id="hero">
  <div class="hero-container">
    <h1>Live Healthy</h1>
    <h2>Here you can find all the information about how to be fit and live a healthy lifestyle</h2>
    <a routerLink="/diet" class="button">Read more</a>
  </div>
</section>


<!-- ===================--------------------ABOUT US SECTION ==============-------------------------------------============ -->

<div id="services" class="about">
  <div class="container wow fadeIn">
    <div class="section-header">
      <h1 class="section-title">About us</h1>
      <p class="section-description">we are here to serve you and try to help you in every possible way to make you fit and healthy</p>
    </div>
    </div>
</div>



<div class="container" id="second">
    <div class="col-md-12 col-sm-12">
    <h3 style="font-family: 'Times New Roman', Times, serif"> When you’re thinking about good fitness goals and New Year’s resolutions, 
    it’s easy to get locked in by what you think a goal “should” be. People set weight loss goals,
    right? People try to work out a set number of times per week, right? It’s easy
     to focus on those things and we will help you with this trust us.</h3>

    <br>
    <br>


    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="../../assets/running-573762_1920.jpg" alt="run">
            <div class="caption">
              <h3>Runing</h3>
              <p>The health benefits of running include weight loss, a youthful appearance, prevention of muscle and bone loss,
                 growth hormone enhancement, the prevention of stroke, diabetes, and hypertension. It also lowers 
                high cholesterol level, improves blood clotting, boosts the immune system, reduces stress, and enhances mood.</p>
          
              <p><a routerLink="/importance" class="btn btn-primary" role="button">Read more...</a></p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="../../assets/gym2.jpg" alt="gym">
                <div class="caption">
                  <h3>Gyming</h3>
                  <p>Without a doubt, regular exercise can benefit your health, mind and body. Not only does it boost your energy, 
                    decrease your risk for certain health conditions and help you manage your weight,
                     but it also improves your mood and enables you to live longer. Sounds pretty amazing, right?</p>
                  <p><a routerLink="/importance" class="btn btn-primary" role="button">Read more...</a></p>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="../../assets/swimming2.jpg" alt="swimming">
                    <div class="caption">
                      <h3>Swimming</h3>
                      <p>Swimming is a great recreational activity for people of all ages. Recreational swimming can provide you with 
                        a low-impact workout and it’s also a good way to relax and feel good.
                         Common swimming styles in recreational swimming are breaststroke, backstroke, side stroke and freestyle</p>
                        
                      <p><a  routerLink="/importance" class="btn btn-primary" role="button">Read more...</a></p>
                    </div>
                  </div>
                </div>
              </div>    
          </div>
      </div>  


        <!-- ===================-----------------------OUR SERVICES SECTION======================---------------------------- -->

      
      <section id="services">
          <div class="container wow fadeIn">
            <div class="section-header">
              <h1 class="section-title">Our services</h1>
              <p class="section-description">we are here to serve you and try to help you in every possible way to make you fit and healthy</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="box">
                  <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
                  <h4 class="title"><a href="">Nearby</a></h4>
                  <p class="description">Here we will help you to find all the nearby gyms, swimming pool, sport academies and we will provide you all the information about that place.  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="box">
                  <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                  <h4 class="title"><a href="">Basic information</a></h4>
                  <p class="description">Here we will provide you all the basic information about the health and Nutrition with diet plan.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="box">
                  <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
                  <h4 class="title"><a href="">Your Trainer</a></h4>
                  <p class="description">we have well trained certified online and as well as offline trainers.</p>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="box">
                  <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
                  <h4 class="title"><a href="">Online Lectures</a></h4>
                  <p class="description">we will provide you high quality video lectures where you can learn and Nutrition and fitness and lot more.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="box">
                  <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
                  <h4 class="title"><a href="">Online FaQ</a></h4>
                  <p class="description">Here all the users can chat with the other user and can get extra tipes from them with this we just want to make a fitness community</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="box">
                  <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
                  <h4 class="title"><a href="">Online store</a></h4>
                  <p class="description">Here you can buy some genuine supliments and othe fitness accessories and can compre prices.</p>
                </div>
              </div>
            </div>
          </div>
        </section>



        <!-- ==================-------------------OUR INS SECTION======================------------------------------------------ -->


        <div class="services">
            <div class="container wow fadeIn">
              <div class="section-header">
                <h1 class="section-title">Our Inspirations</h1>
                <p class="section-description">we are here to serve you and try to help you in every possible way to make you fit and healthy</p>
                <br>
                <br>
              </div>
              </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="thumbnail">
                    <img src="../../assets/jeet.jpg" alt="run" height="270px" width="350px">
                    <div class="caption">
                      <a href="#"><h2>Jeet Selal</h2></a> 
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="thumbnail">
                        <img src="../../assets/guru.jpg" alt="gym"  height="270px" width="350px">
                        <div class="caption">
                          <a href="#"><h2>Guru Mann</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div> 
              </div>


              <!-- ============---------------------OUR MISSION FOR IND SECTION ===================---------------------------------- -->

              
              <div id="client" class="clients">
                <div class="container">
                  <div class="row">
                  <h2>Our Mission For India</h2>
                  <p>we are here to serve you and try to help you in every possible way to make you fit and healthy</p>
                  <div class="col-sm-6 col-md-4">
                    <img src="../../assets/drug.png">
                  </div>
                  <div class="col-sm-6 col-md-4">
                      <img src="../../assets/ffg_logo_colour.png">
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <img src="../../assets/Logo-livehealthyindia.png">
                      </div>
                </div>
              </div>
            </div>



            <!-- =================---------OUR TEAM SECTION===============----------------------------------------- -->


              <div id="team" class="team">
                <div class="container">
                  <div class="row">
                    <h2> Meet our team</h2>
                    <p>we are here to serve you and try to help you in every possible way to make you fit and healthy</p>
          
                    <div class="col-sm-6 col-md-6">
                        <img src="../../assets/kailash.png" height="350px" width="400px" class="img-circle" alt="team">
                        <h4>kailash singh</h4>
                        <p>Student, ip university </p> 
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        
                    </div>
                    <img src="../../assets/hitesh.jpg"  height="350px" width="400px" class="img-circle" alt="team">
                        <h4>hitesh joshi</h4>
                        <p>Student, ip university </p> 
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <!-- ==============--------================ CONTACT US SECTION=====================----------------------- -->



              
              